.thumbnail{
    padding: 5px;
}
.thumbnail > div{
    width: 70%;max-width: 300px;max-height: 125px;
    background-size: cover;background-repeat: no-repeat;display: inline-block;
}
ul{
    padding: 6px;
    max-width: 327px;
}
ul li.thumbnail{
    max-height: 300px;width: 100%;
}
ul li{
    height: 100px;width: 100px;margin-left: 5px;
    display: inline-block;overflow: hidden;
}
ul li:not(.thumbnail) img{
    width: 100%;height: 100%;
}