<div class="flex padding">
    <div>
        <div class="cover">
            <img src="{{detail.img1v1Url}}" />
            <div class="name">{{detail.name}}</div>
        </div>
        <!-- <div class="album" (click)="albums(id)">拥有专辑: [{{detail.albumSize}}]</div> -->
    </div>
    <div class="info flex-1">{{detail.briefDesc}}</div>
</div>

<div class="margin-y border-1">
    <div *ngFor="let song of hotSongs; let i=index" class="flex song padding">
        <div class="gray-f">{{i+1}}</div>
        <div class="flex-1">{{song.name}}</div>
        <div class="flex-1 gray-f">《{{song.al.name}}》</div>
    </div>
</div>