<ul class="flex-y">
    <li matTooltip="主页" matTooltipPosition="after" routerLink="/home"><mat-icon>home</mat-icon></li>
    <!-- <li matTooltip="微博" matTooltipPosition="after" routerLink="/weibo"></li> -->
    <li matTooltip="网易云音乐" matTooltipPosition="after" routerLink="/163"><mat-icon>pollbox</mat-icon></li>
    <li class="flex-1"></li>
    <!-- <li matTooltip="用户中心" matTooltipPosition="after"><mat-icon>face</mat-icon></li>
    <li matTooltip="设置" matTooltipPosition="after"><mat-icon>widgets</mat-icon></li> -->
</ul>