li{
    padding: 12px;
    color: #ddd;
    margin: 0 6px;
}
li:active{
    outline: none;
}
li:visited{
    outline: none;
}
li:hover{
    color: #fff;
    cursor: pointer;
}
li.flex-1{
    cursor: initial;
}