html, body, musix {
    height: 100%;
}
html, body, div, ul, li, p, textarea, input {
    margin: 0;padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
ul {
    list-style: none;
}
input, textarea, select {
    outline: none;
    border: none;
}
select {
    background: #ffffff;
    color: #4f4f4f;
    cursor: pointer;
    padding: 6px 12px;
}
select:hover {
    background: #f6f6f6;
}
a{
    cursor: default;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    background: none;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    background-color: #ccc;
}
.black-f-2{
    color: #4f4f4f;
}
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
}
.flex-y{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    height: 100%;
}
.flex-1{
    flex: 1;
}
.scroll{
    overflow: auto;
}
.icon{
    height: 24px;width: 24px;
    vertical-align: middle;
}
.icon-s {
    height: 16px; width: 16px;
    vertical-align: middle;
    margin-bottom: 2px;
}

.article{
    padding: 24px;
    color: #666;
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6{
    color: #000;
}
.article img{
    max-width: 100%;
}
.article p{
    color: #4f4f4f;
}
.article li{
    color: #000;
}
.article a{
    color: #007acc;
}
.article pre {
    overflow-x: auto;
    padding: 6px;
    border: 1px solid #ddd;
    background: #fafafa;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.radius {
    border-radius: 4px;
}
.inline-block {
    display: inline-block;
}
