@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'var';
@import 'global.css';

html, body, musix {
    font-size: $font;
}

.padding-s {
    padding: $space_s;
}
.padding {
    padding: $space;
}
.padding-l {
    padding: $space_l;
}
.padding-xl {
    padding: $space_l;
}

.margin-s {
    margin: $space_s;
}
.margin {
    margin: $space;
}
.margin-l {
    margin: $space_l;
}
.margin-xl {
    margin: $space_l;
}

.padding-s-x {
    padding: 0 $space_s;
}
.padding-x {
    padding: 0 $space;
}
.padding-l-x {
    padding: 0 $space_l;
}
.padding-xl-x {
    padding: 0 $space_l;
}

.margin-s-x {
    margin: 0 $space_s;
}
.margin-x {
    margin: 0 $space;
}
.margin-l-x {
    margin: 0 $space_l;
}
.margin-xl-x {
    margin: 0 $space_l;
}

.padding-s-y {
    padding: $space_s 0;
}
.padding-y {
    padding: $space 0;
}
.padding-l-y {
    padding: $space_l 0;
}
.padding-xl-y {
    padding: $space_l 0;
}

.margin-s-y {
    margin: $space_s 0;
}
.margin-y {
    margin: $space 0;
}
.margin-l-y {
    margin: $space_l 0;
}
.margin-xl-y {
    margin: $space_l 0;
}

.primary {
    background: $primary;
    color: $light;
}
.warn {
    background: $warn;
    color: $light;
}
.accent {
    background: $accent;
    color: $light;
}
.light {
    background: $light;
    color: $dark;
}
.primary-f {
    color: $primary;
}
.warn-f {
    color: $warn;
}
.accent-f {
    color: $accent;
}
.gray-f {
    color: $gray;
}
.light-f {
    color: $light;
}
.dark-f {
    color: $gray_l;
}
.dark {
    background: $dark;
    color: $light;
}

.mini {
    font-size: $font_s;
}
.big {
    font-size: $font_l;
}
.x-big {
    font-size: $font_xl;
}

.border-0 {
    border: 1px solid $gray_xs;
}
.border-1 {
    border-top: 1px solid $gray_xs;
}
.border-2 {
    border-right: 1px solid $gray_xs;
}
.border-3 {
    border-bottom: 1px solid $gray_xs;
}
.border-4 {
    border-left: 1px solid $gray_xs;
}
