/**
* $name: value;
*/

$space_s: 6px;
$space: 14px;
$space_l: 24px;
$space_xl: 32px;

$font_s: 12px;
$font: 15px;
$font_l: 20px;
$font_xl: 32px;

$light: #ffffff;
$dark: #111111;
$gray_xs: #eeeeee;
$gray: #969696;
$gray_l: #4f4f4f;

$primary: #3f51b5;
$accent: #ff4081;
$warn: #f44336;
