.search-bar{
    width: 40%;
    padding: 12px 16px;
    min-width: 100px;
}
.search-bar.init{
    position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
    width: 80%;
}

.song{
    border-bottom: 1px solid #ddd;
    padding:  6px 12px;cursor: default;
}
.song.title{
    border-top: 1px solid #ddd;
    color: #969696;padding: 0 12px;
}
.song:hover{
    background: #fcfcfc;
}
.song > div{
    padding: 6px 12px;
    white-space: nowrap;overflow: hidden;
}
.song > div:not(:first-of-type){
    width: 25%;max-width: 200px;min-width: 90px;
}
.option:hover{
    color: palevioletred;
    cursor: pointer;
}