<div class="menu padding border-3" [ngClass]="{active: current==='/'}" routerLink="/">首页</div>
<div class="menu padding border-3" [ngClass]="{active: current==='artist'}" title="跳转到热门歌手" routerLink="/artist">歌手</div>
<div class="menu padding border-3" [ngClass]="{active: current==='playlist'}" title="跳转到热门歌单" routerLink="/playlist">歌单</div>
<div class="menu padding border-3" [ngClass]="{active: current==='djradio'}" title="跳转到电台" routerLink="/djradio">电台</div>
<div class="menu padding border-3" [ngClass]="{active: current==='toplist'}" title="跳转到排行榜" routerLink="/toplist">榜单</div>