.artists > div {
    display: inline-block;
    width: 20%;
    text-align: center;
    overflow: hidden;
    color: #666666;
    vertical-align: top;
    transition: 0.2s;
    position: relative;
}
.artists > div:hover, .artist-item:active {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 0 10px #4f4f4f;
}
.artists > div > img {
    width: 100%;
    display: block;
    /* margin: 0 auto;
    max-width: 150px; */
}
/* .artist-item > div {
    line-height: 35px;
    white-space: nowrap;
} */