<input type="text" id="musix-search-bar" maxlength="20" placeholder="想听点什么?"
[ngClass]="{active: inputActive}" class="padding flex-1" (keyup)="onKeyup($event)"
[(ngModel)]="words" />
<select name="stype" id="musix-stype" [(ngModel)]="stype">
    <option value="song">歌曲</option>
    <option value="album">专辑</option>
    <option value="artist">歌手</option>
    <option value="playlist">歌单</option>
</select>
<ul class="histories mini padding-x" [ngClass]="{active: historyActive}" *ngIf="histories?.length">
    <li *ngFor="let item of histories; let i = index" class="flex padding"><div class="flex-1">{{item}}</div><img class="icon" icon="close" /></li>
    <li class="padding-s-y">清空搜索历史</li>
</ul>