.artist {
    display: inline-block;
    overflow: hidden;
    width: 128px;
    line-height: 15px;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: 0.2s;
    color: #4f4f4f;
}
.artist:hover {
    color: #000000;
}
.artist > img{
    display: block;
    height: 128px;
    width: 128px;
    border-radius: 4px;
}
pagination {
    width: 100%;
}