<div class="padding gray-f">
    搜索关键词为 <span class="primary-f">{{words}}</span> , 
    共有 <span class="primary-f">{{albumCount}}</span> 条结果
</div>

<ul class="padding-x border-1">
    <li title="点击跳转到专辑详情" class="padding-s-y border-3 flex item" *ngFor="let album of albums; let i=index">
        <div class="padding-x dark-f no">{{i * page + 1}}</div>
        <img src="{{album.picUrl}}" />
        <div class="flex-1 padding-x">
            <div class="">{{album.name}}</div>
            <div class="gray-f padding-s-y">{{album.artists | artist | limit}}</div>
        </div>
        <div class="right">
            <div class="">{{album.company}}</div>
            <div class="gray-f padding-s-y">{{album.publishTime | timestamp | date: 'yyyy-MM-dd'}}</div>
        </div>
    </li>
</ul>
