.item {
    transition: 0.2s;
    -webkit-user-select: none;
    user-select: none;
}
.item:hover {
    background: #f6f6f6;
    cursor: pointer;
}
.no {
    width: 48px;
}
.item > div {
    overflow: hidden;
}
.item > img {
    height: 64px;width: 64px;
}
pagination {
    width: 100%;
}