:host {
    display: inline-block;
    background: #ffffff;
    color: #4f4f4f;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}
.ctrl.off {
    color: #969696;
}
.ctrl:not(.off):hover {
    background: #f6f6f6;
    cursor: pointer;
}
.item {
    color: #000000;
    background: #f6f6f6;
}
.ctrl {
    padding: 8px;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    border-radius: 4px;
}
.item {
    padding: 8px;
    display: inline-block;
    width: 36px;text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    border-radius: 4px;
}