:host {
    display: block;
    position: relative;
}
#musix-search-bar {
    background: #ffffff;
    transition: 0.2s;
    color: #969696;
    width: 100%;
}
#musix-search-bar::-webkit-input-placeholder {
    color: #969696;
}
#musix-search-bar.active {
    background: #f6f6f6;
    color: #4f4f4f;
}
.histories {
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #f6f6f6;
    color: #969696;
    position: absolute;
    overflow: hidden;
    transition: 0.2s;
    opacity: 0;
}
.histories.active {
    opacity: 1;
}