.oc-type {
    display: inline-flex;
    flex-direction: column;
}
.oc-type-item {
    margin: 5px;
}

.keyboard {
    margin: 20px auto;
    border: 1px solid #aaa;
    width: 750px;
    height: 210px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
}
.keyboard::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
/*定义滚动条轨道 内阴影+圆角*/
.keyboard::-webkit-scrollbar-track
{
    background: none;
}
/*定义滑块 内阴影+圆角*/
.keyboard::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    background-color: #ccc;
}
.black {

}
.white {
    height: 200px;
    width: 50px;display: inline-flex;
    flex-flow: column;
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 16px 0;
}