<div *ngIf="!loading" class="padding gray-f">
    搜索关键词为 <span class="primary-f">{{words}}</span> , 
    共有 <span class="primary-f">{{playlistCount}}</span> 条结果
</div>

<div *ngIf="loading" class="padding gray-f">努力加载中 : )</div>

<div class="flex-1 border-1" style="overflow-y: auto;">
    <div class="playlist padding flex" title="点击进入歌单详情" *ngFor="let playlist of playlists">
        <div class="cover">
            <img src="{{playlist.coverImgUrl}}" />
            <div class="dark mini"><img icon="earphone" /> {{playlist.playCount}}</div>
        </div>
        <div class="flex-1">
            {{playlist.name}}
            <div class="padding-s-y gray-f mini">{{playlist.trackCount}}首歌 by {{playlist.creator.nickname}}</div>
        </div>
    </div>
</div>

<pagination class="border-1 padding-s" [limit]="limit" [total]="playlistCount" [current]="page" (switch)="doPagination($event)"></pagination>