<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yitibo!</title>
  <script>
    if (self != top) {
      // 我们的正常页面
      var url = location.href;
      // 父级页面重定向
      top.location = url;
    }
  </script>
  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
</head>
<body>
  <app>
    Loading...
  </app>
  <!-- <webview src="http://weibo.yitimo.com/" style="height: 500px;width: 500px;"></webview>  -->
  <webview id="foo" src="https://www.github.com/" style="display:inline-flex; width:640px; height:480px; visibility:hidden"></webview>
</body>
</html>
