<div class="flex-y">
    <md-input-container class="init search-bar" color="accent" *ngIf="state === 'init'">
        <input mdInput placeholder="想听点什么？" [(ngModel)]="words" (keyup)="onEnter($event)">
    </md-input-container>
    <md-input-container class="search-bar" color="accent" *ngIf="state !== 'init'">
        <input mdInput placeholder="想听点什么？" [(ngModel)]="words" (keyup)="onEnter($event)">
    </md-input-container>
    <div class="flex-1 flex-y" *ngIf="state !== 'init'">
        <div class="flex-1 scroll">
            <div class="flex song">
                <div class="flex-1">歌曲</div>
                <div>歌手</div>
                <div>专辑</div>
            </div>
            <div class="flex song" *ngFor="let song of songs">
                <div class="flex-1">
                    {{song.name}}
                    <span class="option">收藏</span>
                    <span class="option">下载</span>
                </div>
                <div>
                    <span *ngFor="let art of song.artists;let i=index"><span *ngIf="i > 0"> / </span>{{art.name}}</span>
                </div>
                <div>{{song.album.name}}</div>
            </div>
            <button (click)="test()">测试</button>
        </div>
        <md-paginator [pageIndex]="page" [length]="songCount"
            [pageSize]="15"
            (page)="pageChange($event)">
        </md-paginator>
    </div>
</div>
